<main class="container">
    <form class="block my-auto mx-auto" [formGroup]="loginForm" (submit)="login()">
        <div class="text-center">
            <img src="/assets/logo.webp" alt="Logo" style="width: 90%; margin-inline: auto">
        </div>
        <br><br>
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <small class="text-danger" [class.d-none]="loginForm.controls.email.invalid">Please, use a valid email</small>
        <br>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <br>
        <div class="text-center">
            <button class="btn btn-sm px-5 btn-dark rounded-3 mx-auto" type="submit" [disabled]="!loginForm.valid">
                <span class="px-4">Sign in</span>
            </button>
        </div>
        <small class="text-danger d-block text-center" *ngIf="errMsg != ''">Wrong email or password credentials</small>
    </form>
</main>